body {

}
.main-container {
    width: 960px;
    margin: 0 auto;
}
header {
    margin-top: 20px;
    text-align: center;
}
h1{
    color: #cc3720;
}
.welcomebox {
    margin: 0 auto;
}
footer{
    min-width: 960px;
    border-top: 2px solid #2a2c2e;
    padding-bottom: 25px;
    position: absolute;
    bottom:20px;
}
footer p {
    padding-top: 10px;
}
.post{
    background-color: #f8f3f9;
    border:3px solid #5c5d6b;
    border-radius: 8px;
    padding: 10px;
}
.post header {
    color: #cc4d12;
    border-bottom: 1px solid #5c5d6b;
}
.comments header {
    background-color: #0095ad;
    color:#f8f3f9;
}
.comment{
    font-size:16px;
    color:#5c5d6b;
    background-color: #f8f3f9;
}
