body {

}
.main-container {
    width: 960px;
    margin: 0 auto;
}
header {
    margin-top: 20px;
    text-align: center;
}
h1{
    color: #cc3720;
}
.welcomebox {
    margin: 0 auto;
}
footer{
    min-width: 960px;
    border-top: 2px solid #2a2c2e;
    padding-bottom: 25px;
    position: absolute;
    bottom:20px;
}
footer p {
    padding-top: 10px;
}
